*.iml
.gradle
/local.properties

.idea/*
!.idea/copyright/

.DS_Store

build/
/build
/captures
.externalNativeBuild

#freeline
freeline.py
freeline/
freeline_project_description.json
freeline_core/

#bugly
bugly/

app/release

